# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.xlsx

# Data files
static/coBenefits
static/maps
static/simulations_new/
static/UK_Archetypes.xlsx
static/UK_Archetypes_global_measures.csv
static/UK_Archetypes_info.csv
static/predicted_data_final.csv
static/predicted_data_per.csv

static/database.duckdb
static/database.parquet

*.parquet




.ipynb_checkpoints


.svelte-kit