# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.xlsx

# Data files
static/maps
static/UK_Archetypes_global_measures.csv
static/UK_Archetypes_info.csv
static/database.duckdb

staticNotDeployed/oldParquet/database.parquet
staticNotDeployed/predicted_data_final.csv
staticNotDeployed/predicted_data_per.csv
staticNotDeployed/UK_Archetypes.xlsx
staticNotDeployed/coBenefits
staticNotDeployed/simulations_new/**/*

Archive/




.ipynb_checkpoints


.svelte-kit